<html>
<div class="client_id">
	<h1><%= @client.id %></h1>
</div>
<div class="status">
	<h1><%= @client.state %></h1>
</div>
<div class="profile">
	<h2>Profile</h2>
	<div class="basic">
		<h3>Basic Information</h3>
		<ul>Interview Date: <%= @client.intvw_date %> </ul>
		<ul>Gender: <%= @client.gender > </ul>
		

	</div>
	<div class="info">
		<div class="button">
			<h3>Prescreen <%= @client.prescreen_total %></h3>
		</div>
		<div class="button">
			<h3>Homelessness <%=@client.total_hmless_years %> </h3>
		</div>
		<div class="button">
			<h3>Finance <%=@client.income_verification %></h3>
		</div>
		<div class="button">
			<h3>Drugs/Alcohol <%=@client.drug_alcohol_treatment %></h3>
		</div>
		<div class="button">
			<h3>Health <%=@client.trauma_not_sought_help %></h3>
		</div>
		<div class="button">
			<h3>Limitations <%= @client.mobility_limits %></h3>
		</div>
		<div class="button">
			<h3>History <%= @client.prison %></h3>
		</div>
	</div>
</div>
<div class="progress">
</div>
</html>