<div class="profile">
	<h2>Profile of Client <%= client.id %> (<%= client.state.downcase %>)</h2>
	<div class="basic">
		<h3>Basic Information</h3>
		<p>Interview Date: <%= client.intvw_date %> </p>
		<p>Gender: <%= client.gender %> </p>
	</div>
	<div class="info">
		<div class="button">
			<h3>Prescreen <span style="color: red;"><%= client.prescreen_total %></span></h3>
		</div>
		<div class="button">
			<h3>Homeless for <%=client.total_hmlss_years %> years</h3>
		</div>
		<div class="button">
			<p>Finance verified? <%=client.income_verification %></p>
		</div>
		<div class="button">
			<p>Drugs/Alcohol problems? <%=client.drug_alcohol_treatment %></p>
		</div>
		<div class="button">
			<p>Trauma past? <%=client.trauma_not_sought_help %></p>
		</div>
		<div class="button">
			<p>Limited mobility? <%= client.mobility_limits %></p>
		</div>
		<div class="button">
			<p>History <%= client.prison %></p>
		</div>
	</div>
</div>