<h1>Apartment <%= @apartment.id %></h1>
<p>
  <strong>Rent:</strong>
  $<%= @apartment.rent %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @apartment.floor %>
</p>

<p>
  <strong>Max Capacity:</strong>
  <%= @apartment.max_capacity %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @apartment.pets_allowed %>
</p>

<p>
  <strong>Wheelchair Accessible:</strong>
  <%= @apartment.wheelchair_accessible %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @apartment.smoking %>
</p>

<p>
  <strong>Information:</strong>
  <%= @apartment.information %>
</p>
